*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/*Navbar*/
nav{
    display: flex;
    width: 100%;
    height: 100px;
    background: rgba(58, 38, 23);
    position: fixed;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
}

nav .logo{
    font-size: 30px;
    font-style: italic;
    padding-left: 20px;
    letter-spacing: 1px;
    
}

nav .logo h3 a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
}

nav ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
}

nav ul li a:hover{
    color: black;
}

/* Breakpoint Menu */

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    padding-right: 40px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    top: -5px;
    left: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Breakpoint Animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2)
{
    transform: rotate(45deg) translate(-1px,-1px);
}

.menu-toggle input:checked ~ span:last-child
{
    transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3)
{
    transform: scale(0);
}


.circle{
    position:relative;
    display: flex;
    bottom: -180;
    left: -370;
    transform: translateX(110%);
    clip-path: circle(40% at 50% 0);
    width: 100%;
    background-color: #3a2617;
    height: 120px;
}

.logo-footer img{
    width: 50%;
    left: 162;
    position: relative;
}

.product-text{
    letter-spacing: 15px;
    font-size: 40px;
    position: relative;
    color: white;
    left: 50%;
    top: -520px;
    transform: translate(-15%,0);
}


.category{
  font-size: 40px;
  padding-top: 150px;
  letter-spacing: 15px;
  text-align: center;
}

.banner-btn{
  left: 53%;
  padding-top: 1000px;
  transform:translate(-55%,-90%);
  position:absolute;

}

hr{
  width: 100%;
  position: relative;
  margin-top: 180px;
}

.banner-btn button{
  width: 200px;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  font-size: 20px;
  margin: 0 50px;
  padding: 12px 0;
  color: white;
  background: #3a2617;
  border: .5px solid #3a2617;
  position: relative;
  z-index: 1;
  transition: color  0.5s;
  cursor: pointer;
}
.banner-btn button span{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.5s;
}

.banner-btn button:hover span{
   width: 100%;
}

.banner-btn button:hover{
color: #3a2617;
}


/* product */
.dishes{
  position: relative;
  top: 100px;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}



.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}


.dishes .box-container .box span{
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

#footer{
  margin-top: 200px;
    padding: 20px 0 20px;
    background: rgb(112, 112, 112);
    position: relative;
  }
  .footer-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
.title-text{
text-align: center;
position: relative;
font-size: 30px;
font-style: italic;
}
.footer-right{
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .footer-right{
    text-align: right;
  }
  
  
  .footer-row h1{
    margin: 10px 0;
  }
  
  .footer-row p{
    line-height: 35px;
  }
  
  
.footer-right .fa{
    font-size: 20px;
    color: black;
    margin: 10px;
  }
  
  .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
  }
  
  .social-link{
    text-align: center;
  }
  
  .social-link .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: black;
    cursor: pointer;
  }
  
  .footer-copy{
    font-size: 12px;
    text-align: center;
  }

  /*Responsive*/

/*Tablet*/

@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
    
    nav ul li a{
        font-size: 15px;
    }

    nav .logo{
        display: none;
    }

    .banner-text{
      font-size: 20px;
    }

    .banner-btn button{
      width: 110px;
      margin-left: -20px;
      font-size: 13px;
    }

    
.rectangle{
    display: none;
}

.circle{
    display: none;
}

.logo-footer img{
  width: 3cm;
  height: 3cm;
  top: 40px;
  left: 9px;
}

.category{
  font-size: 25px;
  left: 320px;
  top: -400px;
}

.dishes .box-container{
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.dishes h3{
  font-size: 18px;
}

.dishes h2{
  font-size: 16px;
}
.dishes .box-container .box span{
  font-size: 1.5rem;
}

.title-text{
  font-size: 20px;
}
   
  .footer-copy{
 font-size: 12px;
 }
  }

  /*Mobile*/

@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100vh;
        align-items: left;
        background-color: #3A2617;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
        z-index: 1;
        padding-top: 8rem;
        
    }

    nav ul.pindah{
        opacity: 1;
        transform: translateX(0);
    }
    nav ul.pindah li a{
        display: block;
        width: 100%;
        font-size: 30px;
        padding: 15px 25px; 
        
        
    }
    nav ul.pindah li a:hover{
        color: black;
    }
    
    nav .logo{
        font-size: 22px;
    }
    .menu-toggle{
        display: flex;
        z-index: 2;
    }

    .banner-btn button{
      width: 90px;
      left: 30px;
      margin-left: -20px;
      font-size: 10px;
    }

.rectangle{
    display: none;
}
.circle{
    display: none;
}

.logo-footer img{
  width: 3cm;
  height: 3cm;
  top: 19;
  left: 230px;
}

.product-text{
  font-size: 20px;
  left: 220px;
  top: -390px;
}

.dishes .box-container{
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.title-text{
  font-size: 14px;
}

.footer-right{
  font-size: 14px;
}
   
  .footer-copy{
 font-size: 12px;
 }
}