*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #3a2617;
    overflow-x: hidden;
}

/*Navbar*/
nav{
    display: flex;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255);
    position: fixed;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
}

nav .logo{
    font-size: 30px;
    font-style: italic;
    padding-left: 20px;
    letter-spacing: 1px;
    
}

nav .logo h3 a{
    color: #3a2617;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
}

nav ul li a{
    color: #3a2617;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
}

nav ul li a:hover{
    color: black;
}

/* Breakpoint Menu */

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    padding-right: 40px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    top: -5px;
    left: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Breakpoint Animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2)
{
    transform: rotate(45deg) translate(-1px,-1px);
}

.menu-toggle input:checked ~ span:last-child
{
    transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3)
{
    transform: scale(0);
}


.circle{
    position:relative;
    display: flex;
    bottom: -165;
    left: -214;
    transform: translateX(110%);
    clip-path: circle(40% at 50% 0);
    width: 100%;
    background-color: #fff;
    height: 120px;
}

.logo-footer img{
    width: 60%;
    left: 155;
    top: -20;
    position: relative;
}



.sell{
    color: #fff;
  font-size: 40px;
  padding-top: 150px;
  letter-spacing: 15px;
  padding-left: 80px;
  text-align: center;
}

.form{
    padding-top: 50px;
    padding-left: 200px;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
}

.form-daftar input[type="text"]{
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 5px;
    border: 1px solid #000;
}

.form-desc input[type="text"]{
    padding: 70px 100px;
    border-radius: 5px;
    border: 1px solid #000;
}

.form-check label{
    font-size: 12px;
    padding-left: 10px;
}

.form-button button{
    padding: 10px 100px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
    color: #3a2617;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
}

.form-button button:hover{
    background-color: #a59c96;
    color: #fff;
}


/* footer */

#footer{
  margin-top: 200px;
    padding: 20px 0 20px;
    background: rgb(112, 112, 112);
    position: relative;
  }
  .footer-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
.title-text{
text-align: center;
position: relative;
font-size: 30px;
font-style: italic;
}
.footer-right{
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .footer-right{
    text-align: right;
  }
  
  
  .footer-row h1{
    margin: 10px 0;
  }
  
  .footer-row p{
    line-height: 35px;
  }
  
  
.footer-right .fa{
    font-size: 20px;
    color: black;
    margin: 10px;
  }
  
  .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
  }
  
  .social-link{
    text-align: center;
  }
  
  .social-link .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: black;
    cursor: pointer;
  }
  
  .footer-copy{
    font-size: 12px;
    text-align: center;
  }

 /*Responsive*/

/*Tablet*/

@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
    
    nav ul li a{
        font-size: 15px;
    }

    nav .logo{
        display: none;
    }

    
.rectangle{
    display: none;
}

.circle{
    display: none;
}

.logo-footer img{
  width: 3cm;
  height: 3cm;
  top: -5px;
  left: 9px;
}


.title-text{
  font-size: 20px;
}
   
  .footer-copy{
 font-size: 12px;
 }
  }

  /*Mobile*/

@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100vh;
        align-items: left;
        background-color: #3A2617;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
        z-index: 1;
        padding-top: 8rem;
        
    }

    nav ul.pindah{
        opacity: 1;
        transform: translateX(0);
    }
    nav ul.pindah li a{
        display: block;
        width: 100%;
        font-size: 30px;
        padding: 15px 25px; 
        
        
    }
    nav ul.pindah li a:hover{
        color: black;
    }
    
    nav .logo{
        font-size: 22px;
    }
    .menu-toggle{
        display: flex;
        z-index: 2;
    }


.rectangle{
    display: none;
}
.circle{
    display: none;
}

.logo-footer img{
  width: 3cm;
  height: 3cm;
  top: 0;
  left: 230px;
}

.sell{
    font-size: 25px;
}

.form{
    font-size: 15px;
    margin-left: -100px;
}

.form-daftar input[type="text"]{
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 50px;
}

.form-desc input[type="text"]{
    padding: 50px 50px;
    border-radius: 5px;
    border: 1px solid #000;
}

.form-check label{
    font-size: 10px;
    padding-left: 10px;
}

.form-button button{
    padding: 5px 50px;
    font-size: 14px;
   
}

.title-text{
  font-size: 14px;
}

.footer-right{
  font-size: 14px;
}
   
  .footer-copy{
 font-size: 12px;
 }
}